In [1]:
import os
import pandas

In [2]:
files=os.listdir()
explorar=None
for i in files:
    if 'Tipo'in i:
        pre_file=pandas.DataFrame(os.listdir(i),columns=['file'])
        pre_file['Tipo']=str(i).replace('Tipo ','')
        explorar=pandas.concat([explorar,pre_file])
explorar=pandas.get_dummies(explorar,columns=['Tipo'],dtype=int)
explorar

,file,Tipo_1,Tipo_2,Tipo_3,Tipo_4,Tipo_5,Tipo_6,Tipo_7
0,20250206_171648 - CFG 023.jpg,0,0,0,1,0,0,0
1,20250122_174823 - Victor Cornejo.jpg,0,0,0,1,0,0,0
2,20250210_163600 - CFF 503.jpg,0,0,0,1,0,0,0
3,20250210_174213 - CFF 503.jpg,0,0,0,1,0,0,0
4,20250203_174044 - CFF 503.jpg,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...
15,20250123_184057 - BZT 725.jpg,0,1,0,0,0,0,0
16,20250123_074724 - Victor Cornejo.jpg,0,1,0,0,0,0,0
17,20250121_073048 - Victor Cornejo.jpg,0,1,0,0,0,0,0
18,20250118_073617 - Victor Cornejo.jpg,0,1,0,0,0,0,0
19,20250120_210017 - Victor Cornejo.jpg,0,1,0,0,0,0,0

In [3]:
explorar.to_excel('Explorar.xlsx',index=False,sheet_name='explorar')